@model MainViewModel;

@{
    ViewData["Title"] = "Folders";
}

@if (ViewBag.userId != null)
{
    <div class="row">
        <div class="col-6">
            <h2>Folders</h2>

            <a class="btn btn-dark my-3" asp-controller="Folders" asp-action="Create">Add folder</a>

            @if (Model.Folders.Count() > 0)
            {
                <table class="table table-borderless table-striped">
                    @foreach (var folder in Model.Folders)
                    {
                        if (ViewBag.id == folder.Id)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Folders" asp-action="Details" asp-route-id="@folder.Id" style="font-weight: bold" class="black">@folder.Name</a>
                                    <a asp-controller="Folders" asp-action="Create" asp-route-id="@folder.Id" class="right black">+ New folder</a>
                                </td>

                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><a asp-action="Index" asp-route-id="@folder.Id" class="black">@folder.Name</a></td>
                            </tr>
                        }
                        await showChildren(folder);
                    }
                </table>
            }
            else
            {
                <p>No folders available.</p>
            }
        </div>
        <div class="col-6">
            @if (Model.SelectedFolder != null)
            {
                <h2>Files in <a asp-controller="Folders" asp-action="Details" asp-route-id="@ViewBag.id">@Model.SelectedFolder.Name</a></h2>

                <a class="btn btn-dark my-3" asp-controller="Files" asp-action="Create" asp-route-id="@ViewBag.id">Add file</a>

                <partial name="_Files.cshtml" />
            }
        </div>
    </div>

}
else
{
    <partial name="/Views/Shared/_NotLoggedIn.cshtml" />
}

@{
    async System.Threading.Tasks.Task showChildren(FolderViewModel folder)
    {
        foreach (var child in folder.ChildFolders)
        {
            if (ViewBag.id == child.Id)
            {
                <tr>
                    <td style="text-indent: @(child.Depth + "rem")">
                        <a asp-controller="Folders" asp-action="Details" asp-route-id="@child.Id" style="font-weight: bold" class="black">@child.Name</a>
                        <a asp-controller="Folders" asp-action="Create" asp-route-id="@child.Id" class="right black">+ New folder</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td style="text-indent: @(child.Depth + "rem")"><a asp-action="Index" asp-route-id="@child.Id" class="black">@child.Name</a></td>
                </tr>
            }
            await showChildren(child);
        }
    }
}