@model IEnumerable<Folders.Models.Folder>;

@{
    ViewData["Title"] = "Folders";
}

<h2>Folders</h2>

<button class="btn btn-dark my-3">Add</button>

@if (Model.Count() > 0)
{
<table class="table table-borderless table-striped">
    @foreach (var folder in Model)
    {
        @if (folder.Id == ViewBag.folderPermissionId)
        {
            bool hasChild = false;
            @if (folder.ParentId == 2)
            {
                @foreach (var child in Model)
                {
                    if (child.ParentId == folder.Id)
                    {
                        hasChild = true;
                    }
                }
                @if (hasChild)
                {
                    <tr>
                        <td><button>+</button> @folder.Name</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@folder.Name</td>
                    </tr>
                }

                childFolder(folder, 0);
            }

        }
    }
</table>
}
else
{
    <p>No folders available.</p>
}

@{
    void childFolder(Folder mainFolder, int depth)
    {
        depth++;
        foreach (var f in Model)
        {
            bool hasChild = false;
            if (f.ParentId == mainFolder.Id)
            {
                @foreach (var child in Model)
                {
                    if (child.ParentId == f.Id)
                    {
                        hasChild = true;
                    }
                }
                @if (hasChild)
                {
                    <tr>
                        <td style="text-indent: @(depth + "rem")"><button>+</button> @f.Name</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-indent: @(depth + "rem")">@f.Name</td>
                    </tr>
                }
                childFolder(f, depth);
            }
        }
        depth--;
    }
}