@model MainViewModel;

@{
    ViewData["Title"] = "Folders";
}

<div class="row">
    <div class="col-6">
        <h2>Folders</h2>

        <button class="btn btn-dark my-3">Add</button>

        @if (Model.Folders.Count() > 0)
        {
            <table class="table table-borderless table-striped">
                @foreach (var folder in Model.Folders)
                {
                    <tr>
                        <td><a asp-action="Index" asp-route-id="@folder.Id">@folder.Name</a></td>
                    </tr>
                    await showChildren(folder);
                }
            </table>
        }
        else
        {
            <p>No folders available.</p>
        }
    </div>
    <div class="col-6">
        @if (Model.SelectedFolder != null)
        {
            <h2>@Model.SelectedFolder.Name</h2>

            <button class="btn btn-dark my-3">Add</button>

            <partial name="_Files.cshtml" />
        }
    </div>
</div>

@{
    async System.Threading.Tasks.Task showChildren(FolderViewModel folder)
    {
        foreach (var child in folder.ChildFolders)
        {
            <tr>
                <td style="text-indent: @(child.Depth + "rem")"><a asp-action="Index" asp-route-id="@child.Id">@child.Name</a></td>
            </tr>
            await showChildren(child);
        }
    }
}