@model IEnumerable<Folders.FolderViewModel>;

@{
    ViewData["Title"] = "Folders";
}

<h2>Folders</h2>

<button class="btn btn-dark my-3">Add</button>

@if (Model.Count() > 0)
{
    <table class="table table-borderless table-striped">
        @foreach (var folder in Model)
        {
            //if (folder.ParentFolder.Id == ViewBag.folderPermissionId)
            //{
            if (folder.ParentId == null)
            {
                showFolders(folder, 0);
            }
            //}
        }

        @*@foreach (var folder in Model)
            {
                @if (folder.Id == ViewBag.folderPermissionId)
                {
                    bool hasChild = false;
                    @if (folder.ParentId == 2)
                    {
                        @foreach (var child in Model)
                        {
                            if (child.ParentId == folder.Id)
                            {
                                hasChild = true;
                            }
                        }
                        @if (hasChild)
                        {
                            <tr>
                                <td><button>+</button> @folder.Name</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@folder.Name</td>
                            </tr>
                        }

                        childFolder(folder, 0);
                    }

                }
            }*@
    </table>
}
else
{
    <p>No folders available.</p>
}

@{
    void showFolders(FolderViewModel folder, int depth)
    {

        if (folder.ChildFolders.Count > 0)
        {
            <tr>
                <td style="text-indent: @(depth + "rem")"><button>+</button> @folder.Name</td>
            </tr>
            
            depth++;

            var curId = folder.Id;

            foreach (var child in folder.ChildFolders)
            {
                <tr>
                    <td style="text-indent: @(depth + "rem")">@child.Name</td>
                </tr>
                showFolders(child, depth);
            }
        }
        else
        {
            <tr>
                <td style="text-indent: @(depth + "rem")">@folder.Name</td>
            </tr>

            depth++;
        }

        depth--;
    }
}